body {
  margin: 0;
  padding: 0;
}

.container {
  width: 350px;
}

#title {
  width: 100%;
  border-bottom: 3px inset #aba89f;
  background-color: #fff;
  text-align: center;
  padding: 10px 0px;
}

#titleText {
  font-size: 16px;
}

.bottomSection {
  background-color: #F4F4F4;
}

#summarizeBtn {
  background-color: #fff;
  color: #000000;
  border-radius: 10px;
  padding: 5px 0px;
  margin: 10px 50px;
  width: 250px;
}

#generatedText {
  width: 246px;
  height: 300px;
  margin-left: 48px;
  border: 2px solid #000;
  border-radius: 10px;
}

#downloadBtn {
  background-color: #D9D9D9;
  color: #000000;
  border-radius: 20px;
  padding: 20px 0px;
  margin: 10px 0px 30px 50px;
  border-width: 0px;
  width: 250px;
}

#downloadIcon {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 90px;
  top: 426px;
}

#downloadText {
  font-size: 16px;
  padding-left: 20px;
}